authorization-server/.venv/
authorization-server/src/config/_PROD_dbConfig.py
authorization-server/src/config/_PROD_serverConfig.py

main-server-admin/node_modules/
main-server-admin/src/config/_PROD_dbConfig.js
main-server-admin/src/config/_PROD_serverConfig.js

main-server-client/node_modules/
main-server-client/src/config/_PROD_dbConfig.js
main-server-client/src/config/_PROD_serverConfig.js

proxy-server/node_modules/
proxy-server/src/config/_PROD_serverConfig.js

react-app-admin/build/
react-app-admin/node_modules/

react-app-client/build/
react-app-client/node_modules/

telegram-bot/.venv/
telegram-bot/src/config/_PROD_configBot.py
telegram-bot/src/config/_PROD_configDB.py
telegram-bot/src/config/_PROD_configServer.py