.order.awaiting-delivery .order-id {
  color: #FFFFFF;
  background-color: #86112E;
}
.order.awaiting-delivery .order-payment-method {
  background-color: #4D3347;
}
.order.awaiting-delivery .table-void {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  text-align: right;
  padding-right: 10px;
}
.order.awaiting-delivery .total-price {
  text-align: center;
  border-top: 1px solid #ffffff;
}
